.flex-container{
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.flex-child{

    background-color: aqua;
    margin: 30px;
    padding: 20px;
    display: inline-block;
    width: 100px;

}